body {
  background-image: url('./images/obou.jpg');
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #00e0ff;
  text-shadow: 0 0 5px #00e0ff;
  background-size: cover;
}

/* ЛОГО */
.logo img {
  width: 220px;
  margin-top: 20px;
}

/* КНОПКИ */
.controls {
  margin-top: 20px;
}

button, select {
  width: 80%;
  max-width: 300px;
  background: #3aa6c9;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.controls button, select {
  width: 180px !important;
}

/* КАРТОЧКИ */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: white;
  width: 220px;
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.price {
  font-weight: bold;
  margin-top: 5px;
}


#sizeImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
#previewSize {
  display: block;
  margin: 15px auto;
  border-radius: 15px;
}

#sizeImages img {
  width: 80px;
  cursor: pointer;
  transition: 0.3s;
}

#sizeImages img:hover {
  transform: scale(1.1);
}

.delete-btn {
  margin-top: 10px;
  background: #ff4d4d;
  color: white;
  border-radius: 15px;
  padding: 8px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #fff;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  border-radius: 15px;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.notify {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  
  background: rgba(0,0,0,0.85);
  padding: 20px 25px;
  border-radius: 15px;
  
  color: white;
  text-align: center;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;
  z-index: 999;
}

.notify.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}
.notify button {
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px;
  }

  img {
    max-width: 90%;
    height: auto;
  }

  button {
    width: 90%;
    font-size: 15px;
  }
}
